// _reset.scss

%reset-box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

%reset-body {
  line-height: 1;
}

%reset-link {
  text-decoration: none;
  color: inherit;
}

%reset-list {
  list-style: none;
}

// Apply placeholders

* {
  @extend %reset-box;
}

body {
  @extend %reset-body;
}

a {
  @extend %reset-link;
}

ol, ul {
  @extend %reset-list;
}
