body {
    font-family: Arial,sans-serif;
    background-color: #e38e49;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.container {
    background-color: #D4EBF8;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
    flex-grow: 1;
    box-sizing: border-box;
}

.container h1 {
    color: #0A3981;
    text-align: left;
    margin-top: 0;
}

.container p {
    color: #0A3981;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
}

.container .highlight {
    color: #e38e49;
    font-weight: bold;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.images img {
    width: calc(50% - 10px);
    border-radius: 5px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .images img {
        width: 100%;
        max-width: none;
    }
}